In [10]:
import pandas as pd
import pygwalker as pyg

In [ ]:
# Palmer Penguin Dataset
# Dr. Kristin Gorman

In [ ]:
![Penguins](img/penguins.png)

zsh:1: unknown file attribute: i

In [11]:
df = pd.read_csv('data/penguins_size.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [12]:
pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-1" style="height: auto">\n    <head>\n        <meta http-equiv="Conâ€¦